<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>445229895819-544f7t542g0ftaq39tbnkepc1ctrejvu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.445229895819-544f7t542g0ftaq39tbnkepc1ctrejvu</string>
	<key>API_KEY</key>
	<string>AIzaSyArO56JeSs0KAcmzramj2w-D8FhvECU2_c</string>
	<key>GCM_SENDER_ID</key>
	<string>445229895819</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mediatech.EricSnow.homework.MyLocations</string>
	<key>PROJECT_ID</key>
	<string>iscavenger-9c30c</string>
	<key>STORAGE_BUCKET</key>
	<string>iscavenger-9c30c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:445229895819:ios:cc665c203fa06b46</string>
	<key>DATABASE_URL</key>
	<string>https://iscavenger-9c30c.firebaseio.com</string>
</dict>
</plist>